<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:insert="head.html">

</head>
<body>
<div class="container-fluid">
    <div th:insert="navbar.html"></div>
</div>
    <div class="container">
        <div class="container mt-3">
            <div class="row">



                <div class="col-9">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>SURNAME</th>
                            <th>EXAM</th>
                            <th>MARK</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="stu : ${studenty}" >
                            <td th:text="${stu.id}" th:if="${stu.exam >= 50}"></td>
                            <td th:text="${stu.id}" th:if="${stu.exam < 50}" style="color: red"></td>
                            <td th:text="${stu.name}" th:if="${stu.exam >= 50}" ></td>
                            <td th:text="${stu.name}" th:if="${stu.exam < 50}" style="color: red"></td>
                            <td th:text="${stu.surname}" th:if="${stu.exam >= 50}"></td>
                            <td th:text="${stu.surname}" th:if="${stu.exam < 50}" style="color: red"></td>
                            <td th:text="${stu.exam}" th:if="${stu.exam >=50}"></td>
                            <td th:text="${stu.exam}" th:if="${stu.exam <50}" style="color: red"></td>
                            <td th:text="${stu.mark}" th:if="${stu.exam >= 50}"></td>
                            <td th:text="${stu.mark}" th:if="${stu.exam < 50}" style="color: red"></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</body>
</html>